@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lora:wght@500&family=Playfair+Display&family=Poppins:wght@500&display=swap");

/* CSS Variables */

:root {
  --header-height: 8.5rem;
  --first-color: hsl(147, 50%, 47%);
  --title-color: hsl(0, 100%, 100%);
  --text-color: hsl(0, 100%, 0%);
  --text-color-light: hsl(0, 100%, 0%);
  --body-color: hsl(207, 4%, 99%);
  --color-text: hsl(240, 100%, 100%);

  --body-font: "Yu Moincho";
  --title-font: "Lora", serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /* ========Font weight========= */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* =======Z-INDEX======== */
  --z-normal: 1;
  --z-tool-tip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.688rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  background-color: var(--title-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: background 0.5s;
}

h1,
h2,
h3 {
  /* color: var(--title-color); */
  font-family: var(--title-font);
  font-weight: var(--normal-font-size);
  font-size: var(--small-font-size);
}
.text {
  font-size: var(--small-font-size); 
}
div .available {
  display: block;
  
}
p {
  font-size: var(--smaller-font-size);

}

ul {
  list-style: none;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

a {
  text-decoration: none;
}
a.product-link:hover {
  text-decoration: underline;
  color: blue;
}

.container {
  max-width: 1024px;
  margin-inline:1.0rem;
}

/* ================== header/NAV ========================= */
.header {
  background-color: #ffff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--z-fixed);
  transition: all 0.3s;
  width: 100%;
}
.header img {
  width: 115px;
}
.check {
  widows: 130px;
  height: 130px;
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-joint {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 200%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .list-container {
    position: fixed;
    top: 0;
    background-color: var(--title-color);
    width: 60%;
    height: 100vh;
    right: -60%;
    transition: right 0.3s;
    padding: 4.5rem 0 0 3rem;
  }
}

.show-menu {
  right: 0;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.color {
  width: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.link-nav {
  font-size: var(--small-font-size);
  color: black;
  font-weight: var(--font-medium);
  transition: color 0.4s;
}

.link-nav:hover {
  color: blue;
}

.link {
  font-size: 1rem;
  color: black;
  font-weight: var(--font-medium);
  transition: color 0.4s;
  text-decoration: underline;
}

.link:hover {
  color: blue;
}

.nav-close {
  position: absolute;
  top: 4rem;
  right: 3rem;
}

.nav-toggle,
.nav-close {
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.section {
  padding-block: 2.5rem;
}
.hero {
  margin-block: 3rem;
}
.nerd {
  height: 40rem;
}
.home-img {
  width: 90%;
  /*height: 50%;*/
  background-repeat: no-repeat;
 /* background-size: cover;
  /*background-image: url(./images/main.png);*/
  margin: 9rem auto 0 auto;
  position: relative;
  animation: home-img 5s 1;

}

#home-img img {
  width: 90%;
  margin-left: 6rem;
  margin-right: 6rem;
}

 /*ANIMATION*/
.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}

.background-images {
  position: absolute;
  top: 0;
  left: 0;
  /*margin: -40px 0px 0px 0px;*/
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: fadeBackground 30s infinite; 
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

@keyframes fadeBackground {
  0% {
    opacity: 1;
    background-image: url('https://media.istockphoto.com/id/1413606459/photo/research-experiment-and-medical-trial-being-done-by-a-scientist-in-a-lab-science-facility-or.webp?b=1&s=170667a&w=0&k=20&c=tRa4-yKQREEztLDbVriYeNvAbIte0AyYkLZ8d8Fk9b8=');
  }
  50% {
    opacity: 1;
    background-image: url('https://media.istockphoto.com/id/1455946567/photo/college-instructor-assisting-electrical-engineering-students.webp?b=1&s=170667a&w=0&k=20&c=wM46CCQSEP3hnGvRa2BCel6lbT41GffAkIUyYDszABY='); 
  }
  75% {
    opacity: 1;
    background-image: url('https://media.istockphoto.com/id/1453524892/photo/female-scientist-looking-under-microscope-and-using-laptop-in-a-laboratory.webp?b=1&s=170667a&w=0&k=20&c=f6ITpViA6q4W56XB0X2whl3LTxIHf6f1EF-c3FQRRas=');
  }
  100% {
    opacity: 1;
    background-image: url('https://media.istockphoto.com/id/1220710542/photo/delving-straight-into-new-scientific-research.jpg?s=612x612&w=0&k=20&c=NPzNR_l4veUrrVtY-e3GaLs1lfV7-Neat_fgtP5f5Os='); 
  }
}
.home-content {
  display: flex;
  margin-bottom: 3rem;
}
.public {
  text-align: justify;
  font-size: 1rem;
  padding: 0px 10px;
  /*margin-bottom: 2rem;*/
  display: inline-block;
  border-width: 0px 0px 4px 0px;
  min-width: 100px;
}
.home-data {
  flex: 1;
  margin-inline: 4px;
  color: var(--first-text);
}
.featured-research {
  display: flex;
  margin: 1rem 0 3rem;
}
.product-img {
  flex: 1;
}
.product-img img {
  width: 50%;
}

.sample-text {
  text-align: center;
  max-width: 50%;
  font-size: 1.5rem;
  color: var(--color-text);
  padding: 0.5rem;
  margin-inline: auto;
  background-color: var(--first-color);
}
.odd {

  text-align: justify;
}
h2 {
  font-size: var(--h2-font-size);
}
h3 {
  text-align: center;
  font-size: 1rem;
  background-color: var(--first-color);
  color: var(--color-text);
  padding: 0px 10px;
  /*margin-bottom: 2rem;*/
  display: inline-block;
  border-width: 0px 0px 4px 0px;
  line-height: 39px;
  min-width: 160px;
}
h4 {
  align-items: center;
  font-size: var(--h2-font-size);
  text-align: center;
  font-family: var(--body-font);
}

.research-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  
}
.research-reverse {
  flex-direction: row-reverse;
  margin-block: 2rem;
}

.research-img img {
  width: 400px;
  height: 250px;
}

.product-link {
  color: var(--first-text);
  cursor: pointer;
  font-size: var(--small-font-size);
  text-decoration: underline;
  /* writing-mode: horizontal-tb; */
  /* text-orientation: upright; */
}
.centered {
  margin: 0 auto;
  text-align: left;
  width: fit-content;
  display: flex;
}

.bottom-text p {
  color: var(--first-text);
}

.bottom-text p i,
.footer-container p i {
  font-size: 1.2rem;
}

.team-img {
  display: flex;
  flex: 1;
  gap: 2rem;
  align-items: center;
  width: 250px;
  height: 255px;
}
.team-img img {
  height: 90%;
}
.dual-team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
}
.home-header {
  margin-top: 20px;
  padding-block: 30px;
  max-width: 1024px;
  margin-inline: 1.5rem;
  margin-left: -0.75rem;
}
.news-img {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.news-img img {
  width: 250px;
  height: 350px;
}

footer {
  background-color: var(--first-color);
  min-width: 500px;
  font-size: var(--small-font-size);
}
.footer-container {
  text-align: left;
  color: var(--color-text);
  font-size: var(--small-font-size);
  padding-block: 30px;
}
footer a {
  color: #fff;
}
footer a:hover {
  text-decoration: underline;
  color: slategray;
}


/*Media query*/
@media screen and (max-width: 552px) {
  .research-container {
    display: flex;
    flex-direction: column;
  }

  .research-img img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 500px) {
  h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 800px) {
  .home-img img {
    height: 40rem;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    margin-inline: auto;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav-close,
  .nav-toggle {
    display: none;
  }

  .list {
    flex-direction: row;
    column-gap: 1rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: var(--small-font-size);
  }
}

.animation {
  width: 100px;
  height: 100px;
  background: url(./images/main.png) left top;
  animation: play-sprite 0.8s steps(4) infinite;
}

@keyframes play-sprite {
  100% { background-position: -400px; }
}





