@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&family=Roboto:ital,wght@0,500;1,100;1,300;1,400;1,500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  
img{
  display: block;
  max-width: 100%;
}
.headers{
  display: block;
}
.top_header{
  display: flex;
  gap: 2.5rem;
  margin: 1rem 3rem;
}
.heros{
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  animation: animate 20s ease-in-out infinite;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
@keyframes animate{
  0%, 100%{
    background-image: url(./images/gettyimages-1171065499-612x612.jpg);
  }
  25%{
    background-image: url(./images/gettyimages-1345843751-612x612.jpg);
  }
  50%{
    background-image: url(./images/gettyimages-1362864834-612x612.jpg);
  }
  75%{
    background-image: url(./images/gettyimages-542509503-612x612.jpg);
  }
}
.navbar{
  display: flex;
  position: absolute;
  background-color: #3cb371;
  color: #fff;
  padding: 0.6rem;
  right: 0;
}
li{
  text-decoration: none;
  list-style: none;
  padding: 0.5rem;
}
li a{
  color: white;
  text-decoration: none;
}
.welcome{
  background-color: #3cb371;
  color: white;
  font-size: 40px;
  font-weight: 300;
  padding: 1.5rem;
  width: 500px;
  margin-top: -3rem;
  margin-left: 3rem;
}
.wrap{
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 3rem;
}
.col-xs-6{
  padding: 0.5rem;
  border: 1px solid;
  align-items: center;
  justify-content: center
  color: #3cb371;
   
}
.home-header{
  font-size: 1em;
  color: #fff;
  background-color: #3cb371;
  min-width: 120px;
  padding: 0.5rem 0.2rem 0.5rem 0rem ;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: ;
}
.line{
  height: 2px;
  width: 12px;
}
section p{
  font-size: 15px;
  margin: 2rem 0rem;
}

.logo {
  width: 58px;
  margin: auto;
}

.logo1 {
  width: 250px;
  margin: auto;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
}

.wrap {
  max-width: none;
  padding: 0 15px;
  position: relative;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
#footer {
  background-color: #3cb371;
  color: #222;
  padding: 0 0 40px; 
  overflow: hidden;
  font-size: 20px;
  /* opacity: 0.7; * */
}
@media (min-width: 576px)
.container, .container-sm {
  max-width: 540px;
}
